@import '../../../../../styles/variables.scss';

.shortSearch {
  input {
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: $s_input;
    line-height: 24px;
    color: $_grey;
    border: 2px solid $_light_grey;
    width: 100%;
    padding: 8px 20px;
  }
}

.shortSearch.active {
  input {
    background: $_dim-grey;
    border: none;
  }
}
