@import '../../styles/variables.scss';

.filters {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: $_black-translucent;

  &.active {
    z-index: 1;
    .filters__wrap {
      right: 0;
    }
  }
  .filters__wrap {
    overflow-y: scroll;
    position: fixed;
    transition: 0.5s;
    top: 0;
    right: -150%;
    z-index: 1;
    height: 100vh;
    margin-left: auto;
    width: 450px;
    @media (max-width: 576px) {
      width: 100vw;
    }
    &.active {
      & > form > .form_inputs label {
        color: $_white;
      }
      background: $_light-black;
      .top .title {
        color: $_white;
      }
    }
    background: $_white;

    padding: 48px 40px;

    & > form > .form_inputs {
      margin-bottom: 80px;
      & > div {
        margin-bottom: 25px;
      }
      & > div:last-child {
        margin-bottom: 0;
      }
    }
    & > form > .form_inputs label {
      font-weight: 600;
      font-size: $s_label;
      line-height: 24px;
      color: $_black;
      margin-bottom: 10px;
      display: block;
    }

    .top {
      margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: $s_title_second;
        font-weight: 600;
        line-height: 36px;
        color: $_black;
      }
      .close {
        cursor: pointer;
        color: $_light-grey;
        font-size: $s_icon-close;
      }
    }

    .btn {
      display: flex;
      justify-content: space-between;
      @media (max-width: 320px) {
        flex-wrap: wrap;
        justify-content: center;
      }
      .btn__show {
        background: $_slate-blue;
      }
      button {
        @media (max-width: 320px) {
          width: 100%;
          &:first-child {
            margin-bottom: 15px;
          }
        }
        cursor: pointer;
        padding: 15px;
        width: 45%;
        background: $_dim-grey;
        border-radius: 10px;
        border: none;
        font-weight: 600;
        font-size: $s_button;
        line-height: 24px;
        color: $_white;
      }
    }
  }
}
