$font_family: 'Exo 2', sans-serif;
$font_family_second: 'Bebas Neue', sans-serif;

$stretch_second: 50%;

// Html default font size
$main_size: 16px;
$tablet_size: 15px;
$mobile_size: 14px;

// Custom font size
$s_logo: 2.3rem;
// $s_account-image: 1.25rem;
// $s_not-found: 1.25rem;

$s_menu_li: 2rem;
// $s_dropdown_li: 1.15rem;
// $s_filter_li: 1rem;

$s_title_third: 1.3rem;
$s_title_second: 1.5rem;
$s_title_section: 2rem;
$s_title_main: 2.5rem;

$s_cost: 1.5rem;
$s_count: 1.5rem;
$s_cost_main: 2.1rem;
$s_icon: 1.7rem;
$s_icon-rating: 1rem;

// $s_icon-navigate: 1.25rem;
$s_icon-close: 1.5rem;
// $s_icon-arrows: 1.65rem;

$s_desc: 1rem;
$s_error: 1rem;
$s_table: 1rem;
$s_span: 1rem;
$s_button: 1.5rem;
$s_input: 1rem;
// $s_select: 1rem;
$s_label: 1rem;

// Movie card width
// $w_card_main: 266px;
// $w_card_second: 208px;
// Movie card image height
// $h_image_main: 360px;
// $h_image_main_second: 279px;

// color
$_white: #fff;
$_black: #000;
// $_black-hover: rgba(0, 0, 0, 0.2);
$_light-black: #4c4b5e; // filter bgcolor
$_white-grey: #e7e7e7; // filter bgcolor
$_dim-grey: #313037; // dark theme
$_light-grey: #a8a8a8;
$_light: #f4eefd;

// $_grey: #80858b;
// $_slate-blue: #7b61ff;
$_green: #00a340;

$_black-translucent: rgba(
  $color: #000000,
  $alpha: 0.75,
);

// $_black-gradient: linear-gradient(
//   180deg,
//   rgba(0, 0, 0, 1) 0%,
//   rgba(0, 0, 0, 0.6) 100%
// );
$_red: #ff4343;

// card width or height
// $media_first: 1280px;
// $media_second: 768px;
// $media_third: 622px;
// $media_fourth: 506px;
// $media_fifth: 326px;
