@import './styles/fonts.scss';
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: $main_size;
  @media (max-width: 1199px) {
    font-size: $tablet_size;
  }
  @media (max-width: 767px) {
    font-size: $mobile_size;
  }
}
body {
  font-family: $font_family;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $_white;
}
.App.active {
  background: $_black;
}
.container {
  max-width: 1784px;
  margin: auto;
  padding: 0 15px;
  @media (max-width: 1820px) {
    max-width: 1180px;
  }
  @media (max-width: 1280px) {
    max-width: 952px;
  }
  @media (max-width: 990px) {
    max-width: 714px;
  }
}
.wrap {
  margin: 0 -15px;
  display: flex;
  align-items: center;
}
.error {
  color: $_red;
  font-size: $s_span;
}
