@import '../../../styles/variables.scss';

.movie__card {
  min-width: $w_card_main;
  @media (max-width: 1280px) {
    min-width: $w_card_second;
  }
  @media (max-width: 768px) {
    width: 360px;
    align-self: center;
  }
  @media (max-width: 506px) {
    width: $w_card_main;
  }
  @media (max-width: 326px) {
    width: $w_card_second;
  }

  .image {
    height: $h_image_main;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 24px;
    @media (max-width: 1280px) {
      height: $h_image_main_second;
    }
    @media (max-width: 768px) {
      height: 520px;
    }
    @media (max-width: 506px) {
      height: $h_image_main;
    }
    @media (max-width: 326px) {
      height: $h_image_main_second;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .btns {
    margin-bottom: 24px;
    cursor: pointer;
    border: 2px solid $_light-grey;
    border-radius: 10px;
    display: flex;
    div:first-child {
      border-right: 2px solid $_light-grey;
    }
    div {
      padding: 19px 0;
      flex-grow: 1;
      text-align: center;
      i {
        color: $_light-grey;
        font-size: $s_icon;
      }
    }
    div.added {
      i {
        color: $_red;
      }
    }
  }
}

.movie__card.active {
  .btns {
    background: $_dim-grey;
    border: none;
    div:first-child {
      border-right: 1px solid $_black;
    }
  }
}
