@import '../../styles/variables.scss';

.forms {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 574px;
  @media (max-width: 768px) {
    width: 80%;
  }
  @media (max-width: 410px) {
    margin: auto 15px;
    width: auto;
  }
  padding: 40px;
  background: $_white;
  border-radius: 10px;
  color: $_light-black;
  z-index: 1;
  .forms__inputs {
    & > div {
      margin-bottom: 24px;
    }
    & > div:last-child {
      margin-bottom: 0;
    }
  }
  .success {
    display: block;
    margin-bottom: 24px;
    color: $_green;
  }
  .emailMessage {
    margin-bottom: 24px;
  }
  .err {
    color: $_red;
    font-size: $s_span;
    font-weight: 600;
    display: block;
    margin-bottom: 24px;
  }
  .err::first-letter {
    text-transform: uppercase;
  }
  h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: $s_title_second;
    margin-bottom: 40px;
  }
  & > span {
    display: block;
    margin-bottom: 5px;
    font-size: $s_span;
    font-weight: 500;
    line-height: 24px;
    color: $_grey;
    cursor: pointer;
  }
}

.signLink {
  text-align: center;
  span {
    font-weight: 500;
    font-size: $s_span;
    line-height: 24px;
    color: $_grey;
  }
  span:last-child {
    color: $_slate-blue;
    cursor: pointer;
    margin-left: 3px;
    text-transform: capitalize;
  }
}

.forms.active {
  background: $_light-black;
  color: $_white;
  div {
    input:not([type='submit']) {
      background: $_dim-grey;
      border: none;
    }
  }
}
