@import '../../styles/variables.scss';

.movieList {
  flex-grow: 1;
}

.movies {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: space-around;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    background: $_dim-grey;
    border-radius: 40px;
  }
  & > div:hover {
    transform: scale(1.05);
  }
  span {
    font-weight: 500;
    font-size: $s_span;
    color: $_white;
  }
}
