@import '../../../styles/variables.scss';

.logo {
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: $s_logo;
  font-weight: 700;
  span:first-child {
    color: $_slate-blue;
  }
  span {
    color: $_white;
  }
}
