@import '../../../styles/variables.scss';

.logo {
  z-index: 1;
  cursor: pointer;
  margin: 0 15px 60px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-size: $s_logo;
  font-weight: 700;
  span:first-child {
    color: $_slate-blue;
  }
  span {
    color: $_white;
  }
}
