@import '../../../styles/variables.scss';

.search {
  border: 2px solid $_light-grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 15px;
  height: 56px;

  @media (max-width: 768px) {
    order: 3;
    width: 100%;
    margin-top: 20px;
  }

  & > input {
    outline: none;
    border: none;
    flex-grow: 1;
    margin: 0 22px;
    font-size: $s_input;
    width: 50px;
  }

  .search__icon {
    display: flex;
    align-items: center;
    margin-right: 22px;
    cursor: pointer;
    i {
      font-size: $s_icon;
      color: $_light-grey;
    }
  }
}
.search.active {
  background: $_dim-grey;
  border: none;
  input {
    background: $_dim-grey;
    color: $_white;
  }
}
